body {
    background-color: black;
    color: lime;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre;
    margin: 0;
    padding: 10px;
    overflow: hidden;
  }

  #terminal-output {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    padding-right: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }